/*
 I got your backup

 http://opensource.org/licenses/cpal_1.0 Common Public Attribution License
*/

body {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    background: #f4f8ff;
}

h1 {
    color: #008589;
}

::-moz-selection, ::selection {
    background: #b3d4fc;
    text-shadow: none;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table,th, td {
    border: 1px solid gray;
}

th, td {
    padding: 4px;
    vertical-align: middle;
    text-align: left;
}

table table {
    background: #e4e8ef;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.message {
    color: green;
}

label {
    display: block;
}
label::after {
    content: ':';
}

input[type="text"], input[type="password"], textarea {
    width: 100%;
    box-sizing: border-box;
}

.dangerous-button {
    color: #FF6666;
    float: right;
}
